[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "lazyslide"
authors = []
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: MIT License",
]
requires-python = ">=3.7"
description = "Modularized and scalable whole slide image analysis"
dynamic = ["version"]

dependencies = [
    "numpy",
    "pandas",
    "numba",
    "scikit-learn",
    "matplotlib",
    "legendkit",
    "rich",
    "typer",
    "wsidata",
    "psutil",
]

[tool.hatch.version]
path = "src/lazyslide/__init__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/lazyslide"]

[tool.hatch.metadata]
allow-direct-references = true

[project.optional-dependencies]
all = [
    "scipy",
    "scanpy",
    "torch",
    "torchvision",  # >0.15
    "torchstain",
]

dev = [
    "hatchling",
    "sphinx",
    "pydata-sphinx-theme",
    "numpydoc",
    "sphinx_design",
    "sphinx_copybutton",
    "sphinx-click",
    "myst-nb",
    "pytest",
]

# Define entry points
[project.scripts]
lazyslide = "lazyslide.__main__:app"

[tool.ruff]
ignore = ["F401"]
line-length = 88

[tool.ruff.per-file-ignores]
"tests/test_example.py" = ["E402"]
"tests/test_loader.py" = ["E402"]