html[data-theme="light"] {
    --pst-color-primary: #C68FE6;
    --pst-color-secondary: #FFCD05;
    --pst-color-link: #C68FE6;
    --pst-color-inline-code: rgb(96, 141, 130);
}

html[data-theme="dark"] {
    --pst-color-primary: #C68FE6;
    --pst-color-secondary: #FFCD05;
}

/* Change the highlight color, increase contrast*/
html[data-theme="light"] .highlight .hll {
    background-color: #fcf427;
}

.cell_output img {
    height: auto !important;
}

.navbar-brand .logo__image {
    height: 150px;
}

.sd-badge {
    padding: 0.2em 0.5em;
    border-radius: 0.15em;
    font-size: 0.8em;
}

.sd-badge {
    padding: 0.2em 0.5em;
    border-radius: 0.15em;
    font-size: 0.8em;
}

.sd-badge {
    padding: 0.2em 0.5em;
    border-radius: 0.15em;
    font-size: 0.8em;
}