name: Generate sample datasets
on: workflow_dispatch

jobs:
  pre-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: '3.12'
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Login to Hugging Face
        run: |
          uv run hf auth login --token ${{ secrets.HF_TOKEN }}
      - name: Generate datasets
        run: |
          uv run scripts/update_datasets.py
      - name: List generated datasets
        run: |
          ls generated_zarr_zip/
#      - name: Upload to Hugging Face
#        run: |
#          for file in generated_zarr_zip/*.zarr.zip; do
#            uv run hf upload RendeiroLab/LazySlide-data "$file"
#          done
